<!--component html goes here -->

<ion-card class="card-body" >
<div class="card-img" style="background: url('http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_640/images/live/p0/3x/sw/p03xsw49.jpg') no-repeat center">

      <ion-card-title class="card-title">
        Nine Inch Nails Live
      </ion-card-title>
</div>
  </ion-card>

<button class="container" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
    <span> <ion-icon name="images" style="font-size:72px;"></ion-icon></span>
    <br>
    <span style="font-size:18px;"><b> Drop Resource Here</b></span>
</button>