<div style="width: 1280px;">

    <ion-row style="padding:0 24px;">
        <ion-col width-20>
            <ion-item>
                <ion-label class="title">Username</ion-label>
            </ion-item>
        </ion-col>
        <ion-col width-60></ion-col>
        <ion-col width-20>
            <ion-item>
                <ion-label class="title" text-right>Password</ion-label>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col width-100 >
            <ion-item class="center">

                <button class="resource-map-card-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
<my-resource-map-card></my-resource-map-card>
</button>

                <button class="resource-map-card-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
<my-resource-map-card></my-resource-map-card>
</button>

                <button class="resource-map-card-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
<my-resource-map-card></my-resource-map-card>
</button>

                <button class="resource-map-card-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
<my-resource-map-card></my-resource-map-card>
</button>

                <button class="resource-map-card-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
<my-resource-map-card></my-resource-map-card>
</button>

                <button class="resource-map-card-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
<my-resource-map-card></my-resource-map-card>
</button>

                <button class="resource-map-card-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
<my-resource-map-card></my-resource-map-card>
</button>


            </ion-item>
        </ion-col>
    </ion-row>
</div>