<!--component html goes here -->
<ion-grid>
    <ion-list class="row">
        <ion-item style="padding-left: 0;" no-lines class="col" col-6>
            <my-role-card></my-role-card>
        </ion-item>


        <ion-item style="padding-left: 0;" no-lines class="col" col-6>
            <my-role-card></my-role-card>
        </ion-item>


        <ion-item style="padding-left: 0;" no-lines class="col" col-6>
            <my-role-card clas></my-role-card>
        </ion-item>
    </ion-list>
</ion-grid>