page-role-setting {
.myPanel{
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 4px 7px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 4px 7px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.scroll-content{
    padding: 0 !important;
}


}
