.MenuEmailContainer{

    background-color: rgba(0,0,0,0);
}

.MenuEmailHover{
    transition-timing-function: linear;
    transition: 0.2s;
    background-color:rgba(0,0,0,0.2);
    }



    .item-profile {
  height: 150px;
  .item-avatar > img:first-child {
    max-width: 100px;
    max-height: 100px;
  }
}