 <div >
 
  <ion-searchbar 
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">
  ></ion-searchbar>

<ion-grid>
  <ion-row>
    <ion-col style="text-align: center;">
        <my-resource-item></my-resource-item>
    </ion-col>
    <ion-col style="text-align: center;">
         <my-resource-item></my-resource-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="text-align: center;">
         <my-resource-item></my-resource-item>
    </ion-col>
    <ion-col style="text-align: center;">
 <my-resource-new-item></my-resource-new-item>
    </ion-col>
  </ion-row>
</ion-grid>
 </div>
<!--
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}

    </ion-item>
    <ion-item >  
      <my-resource-new-item></my-resource-new-item>
    </ion-item>

  </ion-list>
  -->