// component css goes here
$dimension:142px;


.card-body{
    width: auto;
    height: $dimension;
}
    .card-img {
        
    width: auto;
    height: $dimension;
    background-size: cover;
    position: relative;
    }

    .card-title{
        text-align: left;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: black;
        opacity: 0.4;
        color: white;
        font-size: 8px;
        margin: 0 !important;
        padding: 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }