<div style="width: 1280px;">

<ion-row style="padding:0 24px;">
  <ion-col width-20><ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item></ion-col>
  <ion-col width-60></ion-col>
  <ion-col width-20><ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item></ion-col>
</ion-row>
<ion-row>
    <ion-col width-100><ion-item style="text-align: center;">
<button class="resource-map-new-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
    <span> <ion-icon name="images" style="font-size:72px;"></ion-icon></span>
    <br>
    <span style="font-size:18px;white-space: initial;"><b>TRUMBNAIL</b></span>
</button>

<button class="resource-map-new-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
    <span> <ion-icon name="images" style="font-size:72px;"></ion-icon></span>
    <br>
    <span style="font-size:18px;white-space: initial;"><b>FRONT</b></span>
</button>

<button class="resource-map-new-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
    <span> <ion-icon name="images" style="font-size:72px;"></ion-icon></span>
    <br>
    <span style="font-size:18px;white-space: initial;"><b>BACK</b></span>
</button>

<button class="resource-map-new-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
    <span> <ion-icon name="images" style="font-size:72px;"></ion-icon></span>
    <br>
    <span style="font-size:18px;white-space: initial;"><b>LEFT</b></span>
</button>

<button class="resource-map-new-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
    <span> <ion-icon name="images" style="font-size:72px;"></ion-icon></span>
    <br>
    <span style="font-size:18px;white-space: initial;"><b>RIGHT</b></span>
</button>

<button class="resource-map-new-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
    <span> <ion-icon name="images" style="font-size:72px;"></ion-icon></span>
    <br>
    <span style="font-size:18px;white-space: initial;"><b>TOP</b></span>
</button>

<button class="resource-map-new-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
    <span> <ion-icon name="images" style="font-size:72px;"></ion-icon></span>
    <br>
    <span style="font-size:18px;white-space: initial;"><b>BOTTUM</b></span>
</button>
</ion-item></ion-col>
</ion-row>
</div>