<button class="resource-map-new-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
    <span> <ion-icon name="images" style="font-size:72px;"></ion-icon></span>
    <br>
    <span style="font-size:18px;white-space: initial;"><b> Drop Resource Here</b></span>
</button>

<button class="resource-map-new-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
    <span> <ion-icon name="images" style="font-size:72px;"></ion-icon></span>
    <br>
    <span style="font-size:18px;white-space: initial;"><b> Drop Resource Here</b></span>
</button>

<button class="resource-map-new-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
    <span> <ion-icon name="images" style="font-size:72px;"></ion-icon></span>
    <br>
    <span style="font-size:18px;white-space: initial;"><b> Drop Resource Here</b></span>
</button>

<button class="resource-map-new-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
    <span> <ion-icon name="images" style="font-size:72px;"></ion-icon></span>
    <br>
    <span style="font-size:18px;white-space: initial;"><b> Drop Resource Here</b></span>
</button>

<button class="resource-map-new-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
    <span> <ion-icon name="images" style="font-size:72px;"></ion-icon></span>
    <br>
    <span style="font-size:18px;white-space: initial;"><b> Drop Resource Here</b></span>
</button>

<button class="resource-map-new-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
    <span> <ion-icon name="images" style="font-size:72px;"></ion-icon></span>
    <br>
    <span style="font-size:18px;white-space: initial;"><b> Drop Resource Here</b></span>
</button>

<button class="resource-map-new-item" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
    <span> <ion-icon name="images" style="font-size:72px;"></ion-icon></span>
    <br>
    <span style="font-size:18px;white-space: initial;"><b> Drop Resource Here</b></span>
</button>
